h1{
    text-align: center;
    font-size: 42px;
    margin: auto;
    
    letter-spacing: 3px;
    
}
.header{
    color: aliceblue;
    width: 100%;
    min-height: auto;
    background-color: rgb(67, 109, 136);
}
.time{
    text-align: center;
    padding:  10px 0px;
}